body {
    background-color: $verde-claro;

    .otro-fondo {
        background-color: $azure;
    }
}
.grid-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'centro'
        'footer';
}

.grid-uno {
    grid-area: header;
}

.grid-dos {
    grid-area: centro;
}

.grid-tres {
    grid-area: footer;
}
