$subtitulos: (
    text-color-subtitulo: #3F913B,
    font-size-subtitulo: 2.125em,
    font-family-subtitulo: 'Roboto Slab' serif,
    font-weight-subtitulo: 600,
    text-align-subtitulo: center,
    margin-subtitulo: .5em auto,
);

$parrafo: (
    text-color-parrafo: #433E3F,
    font-size-parrafo: 1.25em,
    font-family-parrafo: 'Nunito' sans-serif,
    text-align-parrafo: justify,
    line-height-parrafo: 1.4em,
    word-spacing-parrafo: 0.06em,
    margin-parrafo: .5em auto,
);

$breakpoints: (
    sm: 540px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
);