@import '../base/mapas';

@mixin media-q ($breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}


.video {
    @include media-q(md) {
        display: none;
    }
}

.parrafo {
    @include media-q(md) {
        color: $gris;
        font-size: 1.1em;
        text-align: justify;
        font-family: map-get($parrafo, font-family-parrafo);
        margin: .5em auto;
        line-height: 1.2em;
        word-spacing: 0.05em;
        width: 85%;
    }
}

.doble-contenedor {
    @include media-q(md) {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-row-gap: 1em;
        margin: auto;
        grid-template-areas:
            'a'
            'b'
            'c'
            'd'
            'e'
            'f'
            'g'
            'h';
    }
}

.map-actividad {
    @include media-q(md) {
        margin-top: 1em;
    }
}

.elemento-enlaces p {
    @include media-q(md) {
        display: none;
    }
}

.video {
    @include media-q(sm) {
        display: none;
    }
}

.parrafo {
    @include media-q(sm) {
        color: $gris;
        font-size: 1em;
        text-align: justify;
        font-family: map-get($parrafo, font-family-parrafo);
        margin: .5em auto;
        line-height: 1.2em;
        word-spacing: 0.05em;
        width: 90%;
    }
}

.doble-contenedor {
    @include media-q(sm) {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        grid-row-gap: 1em;
        margin: auto;
        grid-template-areas:
            'a'
            'b'
            'c'
            'd'
            'e'
            'f'
            'g'
            'h';
    }
}

.video-inyectado {
    @include media-q(sm) {
        display: none;
    }
}

.map-actividad {
    @include media-q(sm) {
        margin-top: 1em;
    }
}

.elemento-enlaces p {
    @include media-q(sm) {
        display: none;
    }
}